### Catkin ### 
# build output
devel/
logs/
build/
install/
log/
bundle/
.catkin_workspace
*/src/CMakeLists.txt

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace