<?xml version="1.0"?>
<robot name="module_steerable" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="module_steerable" params="name mass mass_center origin_xyz origin_rpy mesh_filename">
        <link name="${name}">
            <inertial>
                <origin xyz="${mass_center}" rpy="${origin_rpy}"/>
                <mass value="${mass}"/>
                <inertia    ixx="${mass * 0.0107}"
                            ixy="${mass * 0.0003}"    
                            ixz="${mass * -0.0003}" 
                            iyy="${mass * 0.0070}"    
                            iyz="${mass * -0.0020}" 
                            izz="${mass * 0.0054}"/>
            </inertial>
            <visual name="">
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <mesh filename="${mesh_filename}" scale="${SCALE_XYZ}"/>
                </geometry>
                <material name="white">
                </material>
            </visual>
            <collision>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <mesh filename="${mesh_filename}" scale="${SCALE_XYZ}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>